{% extends "base.html" %}
{% block content %}
<h1> Mob Notes </h1>
<a href="{% url 'add_note' %}" class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-dark-pink">
  Add Note
</a>
{% for note in notes %}
<ul class="list pl0">
  <li class="pb3 pa3-ns bb b--black-10">
    <p class="b f3 mb1">{{note.title }}</p>
    <div class="f5 lh-copy measure note-detail hidden">
      {{ note.text }}
      <p class="f7 fw3 i mid-gray"> last changed on {{ note.time_edited }}</p>
    </div>
  </li>
</ul>
{% endfor %}
{% endblock %}
