{% extends "base.html" %}
{% block content %}
<h1> Mob Notes </h1>
<a href="{% url 'add_note' %}" class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-dark-pink">
  Add Note
</a>
{% for note in notes %}
<ul class="list pl0">
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">{{note.title }}</b>
    <span class="f5 db lh-copy measure">
      {{ note.text }}
    </span>
    <small class="i gray"> last changed on {{ note.time_edited }}</small>
  </li>
</ul>
{% endfor %}
{% endblock %}
