{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="sans-serif">
    <div class="main-container ma5">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>
